.toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__left {
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    border: 1px solid var(--accent-color);
    border-right: none;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
  }
  &__right {
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
    border: 1px solid var(--accent-color);
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }
  &__active {
    background-color: var(--accent-color);
  }
}
