@use "../../styles/mixins";

.playMode {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  &__iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
}

.recBtnWrapper {
  position: relative;
  width: 39.89px;
  height: 27px;
  overflow: hidden;
}

.playMode__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.playMode__icon.show {
  opacity: 1;
}
