@use "../../styles/mixins";
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.2;
  }
  95% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

.playMode {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

  &__iconWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    cursor: pointer;

    transition: box-shadow var(--transition-duration) var(--timing-function),
      background-color var(--transition-duration) var(--timing-function),
      color var(--transition-duration) var(--timing-function);
    &:hover {
      box-shadow: var(--hover-box-shadow);
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
  }
}

.recordingButton {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--recording-btn-color);
  animation: blink 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recordingText {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 10px;
  color: var(--main-color);
}
