@use "./mixins";
@import "reset";
@import "container";
@import "common";

:root {
  --main-color: #ffffff;
  --accent-color: #017683;
  --accent-hover-color: #029aaa;

  --text-color: #212121;
  --second-text-color: #414141;

  --background-color: #f9f9f9;

  --recording-btn-color: red;

  --icons-color: #414141;
  --hover-box-shadow: rgb(0, 158, 197, 0.35) 0px 5px 15px;

  --transition-duration: 300ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}
