@use "./mixins";
@import "reset";
@import "container";
@import "common";

:root {
  --main-color: #ffffff;
  --border-color: #017683;

  --hover-box-shadow: rgb(0, 158, 197, 0.35) 0px 5px 15px;
}

body {
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}
