.languagePanel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.select {
  padding-left: 10px;
  padding-right: 5px;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #017683;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.iconWrapper {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #017683;
  background-color: #ffffff;
}

.icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
