@use "../../styles/mixins";
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.recordWindow {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.windowContentPortrait {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--background-color);
  @include mixins.mq(tablet) {
    width: 400px;
  }
  @include mixins.mq(desktop) {
    width: 450px;
  }
}

.windowContentLandscape {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 1200px;
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--background-color);
}

.modePart {
  width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameAndAuth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.namePart {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 50px;
  height: 50px;
}

.name {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: var(--accent-color);
}

.audioVisualizer {
  padding-right: 45px;
  position: relative;
  border: 1px solid var(--accent-color);
  height: 40px;
  background-color: var(--main-color);
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
}

.iconWrapper {
  position: absolute;
  top: 0;
  right: 0pc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.settingsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playModeWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.recordingButton {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--recording-btn-color);
  animation: blink 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recordingText {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 10px;
  color: var(--main-color);
}

.btnPart {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.topPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
